---
import Layout from "../layouts/Layout.astro";
import Principal from "../components/Principal.astro";
import Sub from "../components/Sub.astro";
import Content from "../components/Content.astro";
import Card from "../components/Card.astro";
import Presentation from "../components/Presentation.astro";
---

<Layout title="Coaching Para Empresas">
  <main class="pb-[500px] flex flex-col items-center justify-center">
    <!-- Componente Principal -->
    <Principal />

    <!-- Artículo con el Título y Contenido -->
    <Content />
    <!-- Cartas que giran (6) -->
    <Card />
    <Presentation />
  </main>
</Layout>
