---
import Layout from "../layouts/Layout.astro";
import Principal from "../components/Principal.astro";
import Content from "../components/Content.astro";
import Card from "../components/Card.astro";
import Presentation from "../components/Presentation.astro";
import Quest from "../components/Quest.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Coaching Para Empresas">
  <Contact />
  <main class="pb-52 flex flex-col items-center justify-center">
    <!-- Componente Principal -->
    <Principal />

    <!-- Artículo con el Título y Contenido -->
    <Content />
    <!-- Cartas que giran (6) -->
    <Card />
    <Presentation />
    <Quest />
  </main>
</Layout>

