<div class="h-24 w-24 fixed drop-shadow-lg bottom-4 right-0 hover:rotate-6 hover:scale-105 transition-all hover:cursor-pointer z-20" title="Manda un mensaje vía WhatsApp">
  <img src="/assets/whatsappx64.ico" class="z-100" alt="">
  <a href="https://wa.me/
5493704832976" class=" py-6 pr-24 relative bottom-10 z-100"></a>

</div>
