<main class="mt-8 ml-24 mr-24">
  <h1 class="text-7xl font-bold text-black">Encuesta</h1>
  <p class="text-3xl text-justify">A fin de acercarle/s una oferta que mejor se ajuste a sus requerimientos. Invitamos a responder esta breve encuesta. <br>
  Junto a vuestros datos personales u organizacionales.</p>


  <span>que te gusta comer</span>
  <input type="text" placeholder="hola">
</main>